.header {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7091211484593838) 51%, rgba(255, 255, 255, 1) 100%), url('../img/mateus-campos-felipe-Fsgzm8N0hIY-unsplash.jpg');
    height: 100vh;
    background-size: cover;
    background-position-y: 5%;
}

.header p {
    color: #666
}

.menu-row {
    text-align: right !important;
}

.header .left-col {
    padding-top: 15em;
}

.header .left-col h1 {
    font-size: 60px;
}

.brown-light-col {
    background-color: #686158;
    padding: 5em 3em;
    color: #fff;
}

.brown-light-col p {
    color: #f3f4f7;
    line-height: normal;
    font-size: 18px;
}

.brown-dark-col {
    padding: 5em 3em;
    border-right: 1px solid #4f4e4e;
    background-color: #3C3C3C;
    color: #fff;
}

.brown-dark-col p {
    color: #999;
    line-height: normal;
    font-size: 18px;
}

.about-container {
    padding: 10em;
}

.about-container p {
    line-height: normal;
    font-size: 20px;
}

.counter-div {
    background: rgb(0, 0, 0);
    background: linear-gradient(184deg, rgba(0,0,0,0.41780462184873945) 0%, rgba(0,0,0,1) 100%), url("../img/scott-graham-OQMZwNd3ThU-unsplash (1).jpg");
    height: 50vh;
    background-position: center;
    background-size: cover;
    padding: 5em 10em;
}

.counter-div h1, h4 {
    color: #fff;
}

.counter-div h1 {
    font-family: 'Asap', sans-serif;
    font-weight: bold !important;
    font-style: italic;
}

.counter-col {
    border-right: 1px solid #fff;
    padding: 3em 0;
    margin-top: 5em;
}

.counter-col .row {
    margin-top: 5em;
}

.counter-div p {
    color: #e9ddc6 !important;
    line-height: normal;
    font-weight: normal;
    font-size: 18px !important;
}
.border-col {
    padding: 5em;
    text-align: center !important;
    border: 1px solid #d6c8be;
    background-color: #ffffff;
    margin: 1em;
}
.border-col p {
    line-height: normal;
}
